@*@model LoopLeader.Domain.Entities.Member*@
@model LoopLeader.Models.RegisterViewModel

@{
    ViewBag.Title = "Delete " + @Model.UserName + "?";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h2>Are you sure that you wish to delete @Model.UserName?</h2>

@using (Html.BeginForm("MemberDeleteConfirmed", "Admin", Model))
{
    <br /><input type="submit" value="Yes!  Delete this member" />
}

@using (Html.BeginForm("Index", "Admin"))
{
    <br /><input type="submit" value="No! Keep this member" />
}