@model LoopLeader.Models.ProductViewModel

@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}


<h2>Product Index</h2>
Select the product to modify:<br />
@using (Html.BeginForm())
{
    @Html.DropDownListFor(model => model.ProductList.First().ProductID, new SelectList(Model.ProductList.AsEnumerable(), "ProductID", "ProductName"))
    <br />
    <br />
    <input type="submit" value="Edit" />
}