@model LoopLeader.Domain.Entities.Content

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@if (Model != null)
{
    <h2>@Html.Raw(@Model.CurrentText)</h2>
}

<section>
    <section class="left">
        <img src="/Images/dog1.jpg" /><br />
        <img src="/Images/dog2.jpg" /><br />
        <img src="/Images/dog3.jpg" />
    </section>
    <form id="form1">
        <section class="rotator">
            <img id="picture" alt="picture" src="/Images/dogpic1.jpg" />
        </section>
    </form>
    <section class="right">
        <img src="/Images/dog4.jpg" /><br />
        <img src="/Images/dog5.jpg" /><br />
        <img src="/Images/dog6.jpg" />
    </section>
</section>

